extends layout

block content
  h1= user.username

  h2 Reviews  
  each review in reviews
    div
      p Pub: #{review.pub_name}
      p Beer: #{review.beer_name}
      p Rating: #{review.rating}
      p= review.review_text